@import "./base";
@import "./module";

@include corsor;

.main {
	padding-top: 103px;

	@include media768 {
		padding-top: 0px;
	}
	.bg-transparent {
		position: absolute;
		display: none;
		top: 0;
		right: left;
		width: 100%;
		height: 100%;
		background-color: transparent;

		&.display {
			display: block;
		}
	}

	&-wrap {
		padding-top: 88px;
		max-width: 76%;
		width: 1104px;
		margin: 0 auto;

		@include media768 {
			padding-top: 20px;
		}
	}

	&-sp-img {
		width: 100%;
		display: none;
		@include media768 {
			padding-top: 72px;
			width: 100%;
			display: block;
		}
		img {
			width: 100%;
			height: 136px;
			object-fit: cover;
		}
	}

	&-category {
		border: 1px solid #000;
		border-radius: 10px;
		padding: 4px 54px;
		@include media768 {
			padding: 6px 24px;
			font-size: (14rem/16);
		}
	}

	&-title {
		margin-top: 12px;
		font-size: (36rem/16);
		font-weight: 700;

		@include media768 {
			font-size: (24rem/16);
		}
	}
	&-eventdate {
		font-size: (28rem/16);
		margin-top: 24px;
		font-weight: 700;
		margin-bottom: 18px;
		time {
			margin-left: 16px;
			font-weight: 400;
			@include media768 {
				display: block;
				margin-left: 0;
				margin-top: 8px;
				font-size: (18rem/16);
			}
		}

		@include media768 {
			font-size: (20rem/16);
			margin-bottom: 24px;
		}
	}

	&-top-img {
		width: 100%;

		img {
			width: 100%;
			height: 36vw;
			object-fit: cover;
		}

		@include media768 {
			display: none;
		}
	}

	.flex {
		display: flex;
		justify-content: space-between;

		@include media768 {
			flex-direction: column;
		}
	}

	.flex-l {
		width: 72%;
		padding-right: 16px;

		@include media768 {
			width: 100%;
			padding-right: 0;
		}
	}

	&-items {
		padding-top: 78px;

		@include media768 {
			padding-top: 0;
		}
	}

	&-items-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 32px;

		@include media768 {
			flex-direction: column;
			align-items: flex-start;
		}
		.item {
			font-weight: 700;
			font-size: (28rem/16);
			margin-right: 36px;

			@include media768 {
				font-size: (20rem/16);
				margin-bottom: 8px;
			}
		}
		.answer {
			font-size: (20rem/16);

			@include media768 {
				font-size: (18rem/16);
			}
		}
	}

	.message {
		white-space: pre-wrap;
		font-weight: 700;
		font-size: (28rem/16);
		margin-right: 36px;
		margin-bottom: 16px;
		@include media768 {
			font-size: (20rem/16);
			margin-bottom: 8px;
		}
	}
	.text {
		font-size: (20rem/16);
		margin-bottom: 32px;
		@include media768 {
			font-size: (18rem/16);
		}
	}

	.form {
		.comment {
			margin-bottom: 16px;
			font-size: (28rem/16);
			@include media768 {
				font-size: (20rem/16);
				margin-bottom: 8px;
			}
		}

		.notification {
			margin-left: 8px;
			font-size: 1rem;
		}

		.info {
			font-size: (20rem/16);
			margin-bottom: 24px;
			@include media768 {
				font-size: (18rem/16);
			}
		}

		.talk-items-my {
			display: flex;
			width: 100%;
			margin-bottom: 32px;
			flex-direction: row-reverse;
			justify-content: flex-end;

			&.none {
				display: none;
			}

			.block {
				width: 60%;
				margin-right: 8px;
				@include media768 {
					width: 80%;
				}
			}

			.img-wrap {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 1px solid #000;
					object-fit: cover;
				}
			}

			.nickname {
				text-align: right;
			}
			.talk {
				border: 1px solid rgb(207, 207, 207);
				background-color: rgba(162, 203, 209, 0.493);
				border-radius: 10px;
				padding: 8px 16px;
				word-wrap: break-word;
				overflow-wrap: break-word;

				.chatDate {
					font-size: 0.7rem;
					color: gray;
				}
			}
		}

		.talk-items-user {
			display: flex;
			width: 100%;
			margin-bottom: 32px;
			flex-direction: row-reverse;
			justify-content: flex-end;

			&.none {
				display: none;
			}

			.block {
				width: 60%;
				margin-left: 8px;
				@include media768 {
					width: 80%;
				}
			}
			.img-wrap {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 1px solid #000;
					object-fit: cover;
				}
			}

			.nickname {
				text-align: left;
			}
			.talk {
				border: 1px solid rgb(207, 207, 207);
				background-color: rgba(196, 212, 214, 0.493);
				border-radius: 10px;
				padding: 8px 16px;
				word-wrap: break-word;
				overflow-wrap: break-word;

				.chatDate {
					font-size: 0.7rem;
					color: gray;
				}
			}
		}

		.message {
			white-space: pre-wrap;
			border: 1px rgb(199, 199, 199) solid;
			width: 68%;
			border-radius: 10px;
			font-size: 1rem;
			padding: 8px 12px;
			outline: none;
			height: 86px;
			@include media768 {
				width: 100%;
			}
		}

		&-btn {
			text-align: left;
			margin-bottom: 76px;
			@include media768 {
				margin-bottom: 24px;
			}
			button {
				background-color: $base-color;
				color: #fff;
				width: 68%;
				line-height: 54px;
				border-radius: 10px;
				@include media768 {
					width: 100%;
				}
			}
		}
	}

	.main-btn-wrap {
		width: 28%;
		@include media768 {
			width: 100%;
		}
	}

	.main-btn-wrap-flex {
		position: sticky;
		top: 116px;
		z-index: 2;

		@include media768 {
			width: 100%;
			display: flex;
			flex-direction: column-reverse;
			margin-bottom: 32px;
		}

		.member {
			margin-top: 12px;
			padding-left: 16px;
			font-size: 1.5rem;
			color: orange;
			&-end {
				margin-top: 12px;
				padding-left: 16px;
				color: gray;
				font-size: 1rem;
			}
		}
	}

	.main-btn {
		background-color: $base-color;
		text-align: center;
		display: inline-block;
		color: #fff;
		font-size: (20rem/16);
		line-height: 56px;
		width: 100%;
		border-radius: 30px;
		margin-top: 16px;
	}
	.myself {
		background-color: rgb(138, 138, 138);
		text-align: center;
		display: inline-block;
		color: #fff;
		font-size: (20rem/16);
		line-height: 56px;
		width: 100%;
		border-radius: 30px;
		margin-top: 16px;
		pointer-events: none;
	}

	.return {
		display: inline-block;
		text-align: center;
		background-color: $base-color;
		color: #fff;
		font-size: (20rem/16);
		line-height: 56px;
		width: 100%;
		border-radius: 30px;
		margin-top: 16px;
	}

	.side-block {
		margin-top: 12px;
		padding-left: 16px;

		h2 {
			font-size: (20rem/16);
			margin-bottom: 8px;
		}
		p {
			margin-bottom: 16px;
		}
	}
}

hr {
	width: 100%;
}
