@import "./base";
@import "./module";

@include corsor;

// sliderのためのcss
.swiper-slide {
	margin: 0 10px;
	margin-bottom: 2rem;
	margin-top: 100px;
	width: 50% !important;

	.img {
		width: 100%;
	}

	img {
		width: 100%;
		height: 20vw;
		object-fit: cover;
		vertical-align: bottom;
	}

	.table {
		&-item {
			box-shadow: 2px 2px 4px gray;
			margin: 2rem;
			width: 54vw;

			@include media768 {
				width: auto;
			}

			img {
				width: 100%;
				height: 400px;
				object-fit: cover;
			}

			&-text {
				display: flex;
				justify-content: space-between;
				padding: 1rem;
			}
		}
	}
}

// 条件、検索
.conditions {
	margin: 2rem 0;

	form {
		position: sticky;
		top: 116px;
		z-index: 2;
	}

	@include media768 {
		margin: 2rem;
		margin-top: 0;
	}

	.sports {
		background-color: #e7e7e7;
		color: #333;
		padding: 5px 16px;
		border-radius: 10px;
		width: 200px;
		outline: none;

		@include media768 {
			width: 100%;
		}
	}

	p {
		padding: 5px 16px;
	}

	& input {
		background-color: #e7e7e7;
		color: #333;
		padding: 5px 16px;
		border-radius: 10px;
		width: 200px;
		outline: none;

		@include media768 {
			width: 100%;
		}
	}
	.searchBtn {
		background-color: $base-color;
		color: #fff;
		padding: 5px 16px;
		border-radius: 10px;
		width: 200px;
		transition: all 0.4s;

		@include media768 {
			width: 100%;
		}

		&:hover {
			color: $base-color;
			background-color: #fff;
		}

		&:active {
			transform: translateY(10px);
		}
	}

	.btnhover {
		position: relative;
	}

	.btnhover:hover:after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		border: 2px solid $base-color;
		width: 200px;
		height: 34px;
		border-radius: 10px;
		z-index: -1;
		opacity: 1;
		animation: 0.6s circleanime2 forwards;
		animation-iteration-count: infinite;
	}
}

/*波形が広がるアニメーション*/
@keyframes circleanime2 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

// 投稿した一覧
.main-container {
	max-width: 960px;
	margin: 0 auto;
	display: flex;

	@include media768 {
		display: block;
	}

	.table {
		&-item {
			box-shadow: 2px 2px 4px gray;
			margin: 2rem;
			opacity: 0;
			animation-name: fadein-bottom;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;

			@keyframes fadein-bottom {
				0% {
					opacity: 0;
					transform: translateY(40px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			&:hover {
				opacity: 0.7;
			}

			p:nth-child(3) {
				color: #9a9a9a;
				padding: 1rem;
			}

			img {
				width: 100%;
				height: 20vw;
				object-fit: cover;
				@include media768 {
					height: 30vw;
				}
			}
			&.past {
				filter: grayscale(100%);
			}

			&-text {
				display: flex;
				justify-content: space-between;
				padding: 1rem;
				align-items: center;

				@include media768 {
					display: block;
				}

				&-left {
					display: flex;
					align-items: center;

					@include media768 {
						display: block;
					}

					p:nth-child(2) {
						margin-left: 20px;

						@include media768 {
							margin: 10px 0;
						}
					}
				}
			}

			h3 {
				@include media768 {
					margin-top: 20px;
				}
			}
		}
	}
}

.category {
	padding: 5px 16px;
	border-radius: 20px;
	background-color: $base-color;
	color: #fff;

	@include media768 {
		display: inline-block;
	}
}

.number {
	display: block;
	max-width: 960px;
	margin: 50px auto;
	text-align: center;

	& #readmore {
		outline: none;
	}
}
