@import "./base";
@import "./module";


#container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media768 {
        max-width: 90%;
    }

    .left {
        width: 500px;

    }

    .head {
        margin-top: 120px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .logo {
        width: 70px;

        @include media768 {
            width: 48px;
        }

        img {
            width: 100%;
        }
    }

    .name {
        font-size: (40rem/16);
        font-weight: 400;

        @include media768 {
            font-size: (32rem/16);
        }
    }

    .text {
        margin-left: 5%;
        font-size: (36rem/16);

        @include media768 {
            font-size: (24rem/16);
            margin-left: 0;
        }

        p:first-of-type {
            margin-bottom: 50px;

            span {
                color: $base-color;
                font-size: (64rem/16);

                @include media768 {
                    font-size: (48rem/16);
                }
            }
        }

        p:nth-of-type(2) {
            margin-bottom: 50px;

            span {
                color: $base-color;
                font-size: (64rem/16);

                @include media768 {
                    font-size: (48rem/16);
                }
            }
        }

        p:last-of-type {
            margin-left: 40px;

            span {
                padding: 6px 16px;
                border-radius: 50%;
                background-color: $base-color;
                color: #fff;
                font-size: (64rem/16);

                @include media768 {
                    font-size: (48rem/16);
                }
            }
        }

    }

    .btn {
        margin-top: 70px;
        display: flex;
        align-items: center;
        margin-left: 5%;

        @include media768 {
            flex-direction: column;
            margin-left: 0;
        }


        input {
            background-color: $base-color;
            color: #fff;
            width: 160px;
            border-radius: 20px;
            line-height: 56px;
            font-size: (24rem/16);
            outline: none;
            transition: all 0.4s;

            &:hover {
                background-color: #fff;
                color: $base-color;
                border: 1px solid $base-color;
            }
        }

        input:last-of-type {
            margin-left: 36px;

            @include media768 {
                margin-top: 24px;
                margin-left: 0;
            }

        }
    }

    .right {
        img {
            width: 100%;
        }

        @media (max-width:1170px) {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -99;
            width: 400px;


        }

        @include media768 {
            top: 50px;
            right: 0;
            width: 50%;
        }
    }
}