body {
  font-size: 16px;
  font-family: 'Noto Sans JP', 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    font-size: 10px;
  }
}

header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left img {
  margin: 1rem 1rem 0 1rem;
}

@media (max-width: 600px) {
  header .left img {
    width: 50px;
    margin: 0;
    padding: 10px 10px 0 10px;
  }
}

header .left .supoma {
  color: #00a5bb;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

header .left .supoma:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  header .left .supoma {
    font-size: 0.7rem;
  }
}

header .right .fas,
header .right .far {
  color: #9a9a9a;
}

header .right .icon {
  font-size: 30px;
  margin: 1rem;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

header .right .icon:hover {
  -webkit-animation-name: suzu;
          animation-name: suzu;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 600px) {
  header .right .icon {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
  }
}

header .right .icon .news-span {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
}

@media (max-width: 600px) {
  header .right .icon .news-span {
    font-size: 14px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    top: -16px;
  }
}

@-webkit-keyframes suzu {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes suzu {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header .right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

header .right img:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  header .right img {
    margin: 0;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

header .right h2 {
  margin: 1rem;
}

header .right h2:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  header .right h2 {
    margin: 0 20px;
  }
}

header .none {
  position: absolute;
  top: 103px;
  right: 0;
}

@media (max-width: 600px) {
  header .none {
    top: 72px;
  }
}

header .header-mypage {
  border-radius: 10px;
  display: none;
  width: 320px;
  height: 340px;
  background-color: #fff;
  padding-top: 24px;
  -webkit-box-shadow: 2px 2px 4px #bbbbbb;
          box-shadow: 2px 2px 4px #bbbbbb;
}

header .header-mypage .header-mypage-wrap {
  width: 85%;
  margin: 0 auto;
}

header .header-mypage .header-mypage-wrap .faceName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

header .header-mypage .header-mypage-wrap .faceName .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

header .header-mypage .header-mypage-wrap .faceName .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .header-mypage .header-mypage-wrap .faceName h1 {
  font-size: 1.5rem;
}

header .header-mypage .header-mypage-wrap .btn {
  background-color: #00a5bb;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header .header-mypage .header-mypage-wrap .btn:hover {
  color: #00a5bb;
  background-color: #fff;
  border: 1px solid #00a5bb;
}

header .header-mypage .header-mypage-wrap .ul li {
  margin-bottom: 16px;
  font-size: 1rem;
}

header .header-mypage .header-mypage-wrap .ul a {
  color: #75797c;
  font-size: 1rem;
}

header .header-mypage.display {
  display: block;
}
/*# sourceMappingURL=header.css.map */