body {
  font-size: 16px;
  font-family: "Noto Sans JP", "Quicksand", sans-serif;
  box-sizing: border-box;
  color: #333;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #E7E7E7;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
}
@media (max-width: 600px) {
  header {
    font-size: 10px;
  }
}
header .flex {
  display: flex;
  align-items: center;
}
header .left img {
  margin: 1rem;
}
@media (max-width: 600px) {
  header .left img {
    display: none;
  }
}
header .left h2 {
  margin: 1rem;
}
@media (max-width: 600px) {
  header .left h2 {
    margin: 0;
    margin-left: 20px;
  }
}
header .right .fas,
header .right .far {
  color: #9A9A9A;
}
header .right .icon {
  font-size: 30px;
  margin: 1rem;
}
@media (max-width: 600px) {
  header .right .icon {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
  }
}
header .right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1rem;
}
@media (max-width: 600px) {
  header .right img {
    margin: 0;
  }
}
header .right h2 {
  margin: 1rem;
}
@media (max-width: 600px) {
  header .right h2 {
    margin: 0 20px;
  }
}

.none {
  position: absolute;
  top: 103px;
  right: 0;
}
@media (max-width: 600px) {
  .none {
    top: 72px;
  }
}

.header-mypage {
  border-radius: 10px;
  display: none;
  width: 320px;
  height: 340px;
  background-color: #fff;
  padding-top: 24px;
  box-shadow: 2px 2px 4px #bbbbbb;
}
.header-mypage .header-mypage-wrap {
  width: 85%;
  margin: 0 auto;
}
.header-mypage .header-mypage-wrap .faceName {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.header-mypage .header-mypage-wrap .faceName .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
.header-mypage .header-mypage-wrap .faceName .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-mypage .header-mypage-wrap .faceName h1 {
  font-size: 1.5rem;
}
.header-mypage .header-mypage-wrap .btn {
  background-color: #00A5BB;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 1rem;
}
.header-mypage .header-mypage-wrap .ul li {
  margin-bottom: 16px;
  font-size: 1rem;
}
.header-mypage .header-mypage-wrap .ul a {
  color: #75797C;
  font-size: 1rem;
}

.display {
  display: block;
}

.main {
  padding-top: 103px;
}
@media (max-width: 600px) {
  .main {
    padding-top: 0px;
  }
}
.main .bg-transparent {
  position: absolute;
  display: none;
  top: 0;
  right: left;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.main .bg-transparent.display {
  display: block;
}
.main-wrap {
  padding-top: 88px;
  max-width: 76%;
  width: 1104px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .main-wrap {
    padding-top: 20px;
  }
}
.main-sp-img {
  width: 100%;
  display: none;
}
@media (max-width: 600px) {
  .main-sp-img {
    padding-top: 72px;
    width: 100%;
    display: block;
  }
}
.main-sp-img img {
  width: 100%;
  height: 136px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-category {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 4px 54px;
}
@media (max-width: 600px) {
  .main-category {
    padding: 6px 24px;
    font-size: 0.875rem;
  }
}
.main-title {
  margin-top: 12px;
  font-size: 2.25rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  .main-title {
    font-size: 1.5rem;
  }
}
.main-eventdate {
  font-size: 1.75rem;
  margin-top: 24px;
  font-weight: 700;
  margin-bottom: 18px;
}
.main-eventdate time {
  margin-left: 16px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .main-eventdate time {
    display: block;
    margin-left: 0;
    margin-top: 8px;
    font-size: 1.125rem;
  }
}
@media (max-width: 600px) {
  .main-eventdate {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
}
.main-top-img {
  width: 100%;
}
.main-top-img img {
  width: 100%;
  height: 36vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 600px) {
  .main-top-img {
    display: none;
  }
}
.main .flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .main .flex {
    flex-direction: column;
  }
}
.main .flex-l {
  width: 72%;
  padding-right: 16px;
}
@media (max-width: 600px) {
  .main .flex-l {
    width: 100%;
    padding-right: 0;
  }
}
.main-items {
  padding-top: 78px;
}
@media (max-width: 600px) {
  .main-items {
    padding-top: 0;
  }
}
.main-items-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .main-items-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main-items-wrap .item {
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 36px;
}
@media (max-width: 600px) {
  .main-items-wrap .item {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
}
.main-items-wrap .answer {
  font-size: 1.25rem;
}
@media (max-width: 600px) {
  .main-items-wrap .answer {
    font-size: 1.125rem;
  }
}
.main .message {
  font-weight: 700;
  font-size: 1.75rem;
  margin-right: 36px;
  margin-bottom: 16px;
}
@media (max-width: 600px) {
  .main .message {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
}
.main .text {
  font-size: 1.25rem;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .main .text {
    font-size: 1.125rem;
  }
}
.main .form .comment {
  margin-bottom: 16px;
  font-size: 1.75rem;
}
@media (max-width: 600px) {
  .main .form .comment {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
}
.main .form .notification {
  margin-left: 8px;
  font-size: 1rem;
}
.main .form .info {
  font-size: 1.25rem;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .main .form .info {
    font-size: 1.125rem;
  }
}
.main .form .talk-items-user {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}
.main .form .talk-items-user .block {
  width: 60%;
  margin-right: 8px;
}
@media (max-width: 600px) {
  .main .form .talk-items-user .block {
    width: 80%;
  }
}
.main .form .talk-items-user .img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .form .talk-items-user .img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000;
}
.main .form .talk-items-user .nickname {
  text-align: right;
}
.main .form .talk-items-user .talk {
  border: 1px solid #cfcfcf;
  background-color: rgba(162, 203, 209, 0.493);
  border-radius: 10px;
  padding: 8px 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.main .form .talk-items-my {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}
.main .form .talk-items-my .block {
  width: 60%;
  margin-left: 8px;
}
@media (max-width: 600px) {
  .main .form .talk-items-my .block {
    width: 80%;
  }
}
.main .form .talk-items-my .img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .form .talk-items-my .img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000;
}
.main .form .talk-items-my .nickname {
  text-align: left;
}
.main .form .talk-items-my .talk {
  border: 1px solid #cfcfcf;
  background-color: rgba(196, 212, 214, 0.493);
  border-radius: 10px;
  padding: 8px 16px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.main .form .message {
  border: 1px #c7c7c7 solid;
  width: 68%;
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px 12px;
  outline: none;
  height: 86px;
  pointer-events: none;
}
@media (max-width: 600px) {
  .main .form .message {
    width: 100%;
  }
}
.main .form-btn {
  text-align: left;
  margin-bottom: 76px;
}
@media (max-width: 600px) {
  .main .form-btn {
    margin-bottom: 24px;
  }
}
.main .form-btn button {
  pointer-events: none;
  background-color: #d4d4d4;
  color: #fff;
  width: 68%;
  line-height: 54px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .main .form-btn button {
    width: 100%;
  }
}
.main .main-btn-wrap {
  width: 28%;
}
@media (max-width: 600px) {
  .main .main-btn-wrap {
    width: 100%;
  }
}
.main .main-btn-wrap-flex {
  position: -webkit-sticky;
  position: sticky;
  top: 116px;
  z-index: 2;
}
@media (max-width: 600px) {
  .main .main-btn-wrap-flex {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 32px;
  }
}
.main .main-btn {
  background-color: #00A5BB;
  color: #fff;
  font-size: 1.25rem;
  line-height: 56px;
  width: 100%;
  border-radius: 30px;
  margin-top: 16px;
}
.main .return {
  display: inline-block;
  text-align: center;
  background-color: #00A5BB;
  color: #fff;
  font-size: 1.25rem;
  line-height: 56px;
  width: 100%;
  border-radius: 30px;
  margin-top: 16px;
}
.main .side-block {
  margin-top: 12px;
  padding-left: 16px;
}
.main .side-block h2 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.main .side-block p {
  margin-bottom: 16px;
}

hr {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  footer {
    display: block;
  }
}
footer h2 {
  margin-top: 100px;
}
@media (max-width: 600px) {
  footer h2 {
    margin: 0;
  }
}
footer .footer-wrapper {
  position: relative;
  width: 70%;
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  footer .footer-wrapper {
    width: 100%;
    display: block;
    padding: 20px;
  }
}
footer .footer-wrapper p {
  margin: 1rem 0;
  color: #9A9A9A;
}
footer .footer-wrapper .footer-logo {
  position: absolute;
  top: 380px;
  left: 160px;
}
@media (max-width: 600px) {
  footer .footer-wrapper .footer-logo {
    top: 20px;
    left: 200px;
  }
}
@media (max-width: 600px) {
  footer .contact {
    width: 100%;
    padding: 20px;
  }
}
footer .contact textarea {
  border: solid #E7E7E7 1px;
  box-shadow: 0 0 8px gray;
  margin: 2rem 0;
  width: 100%;
  height: 160px;
}
footer .contact input {
  width: 100%;
  background-color: #E7E7E7;
  color: #333;
  padding: 5px 16px;
  border-radius: 10px;
}/*# sourceMappingURL=Individual.css.map */