body {
  font-size: 16px;
  font-family: 'Noto Sans JP', 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

#container {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  #container {
    max-width: 90%;
  }
}

#container .left {
  width: 500px;
}

#container .head {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#container .logo {
  width: 70px;
}

@media (max-width: 600px) {
  #container .logo {
    width: 48px;
  }
}

#container .logo img {
  width: 100%;
}

#container .name {
  font-size: 2.5rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  #container .name {
    font-size: 2rem;
  }
}

#container .text {
  margin-left: 5%;
  font-size: 2.25rem;
}

@media (max-width: 600px) {
  #container .text {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

#container .text p:first-of-type {
  margin-bottom: 50px;
}

#container .text p:first-of-type span {
  color: #00a5bb;
  font-size: 4rem;
}

@media (max-width: 600px) {
  #container .text p:first-of-type span {
    font-size: 3rem;
  }
}

#container .text p:nth-of-type(2) {
  margin-bottom: 50px;
}

#container .text p:nth-of-type(2) span {
  color: #00a5bb;
  font-size: 4rem;
}

@media (max-width: 600px) {
  #container .text p:nth-of-type(2) span {
    font-size: 3rem;
  }
}

#container .text p:last-of-type {
  margin-left: 40px;
}

#container .text p:last-of-type span {
  padding: 6px 16px;
  border-radius: 50%;
  background-color: #00a5bb;
  color: #fff;
  font-size: 4rem;
}

@media (max-width: 600px) {
  #container .text p:last-of-type span {
    font-size: 3rem;
  }
}

#container .btn {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

@media (max-width: 600px) {
  #container .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

#container .btn input {
  background-color: #00a5bb;
  color: #fff;
  width: 160px;
  border-radius: 20px;
  line-height: 56px;
  font-size: 1.5rem;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#container .btn input:hover {
  background-color: #fff;
  color: #00a5bb;
  border: 1px solid #00a5bb;
}

#container .btn input:last-of-type {
  margin-left: 36px;
}

@media (max-width: 600px) {
  #container .btn input:last-of-type {
    margin-top: 24px;
    margin-left: 0;
  }
}

#container .right img {
  width: 100%;
}

@media (max-width: 1170px) {
  #container .right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99;
    width: 400px;
  }
}

@media (max-width: 600px) {
  #container .right {
    top: 50px;
    right: 0;
    width: 50%;
  }
}
/*# sourceMappingURL=top.css.map */